.App {
  text-align: center;
}
body{
  margin: 0 auto;
  max-width:675px;
  background-color:powderblue;
  color:midnightblue;
  font-weight: 800;
}
button{
  padding:1em;
  margin:1em;
  background-color:midnightblue;
  color:mintcream;
}




